@charset "utf-8";

body {
	font-family: 돋움, Dotum, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.container {
	text-align: left;
	width: 500px;
	margin: 0 auto;
}

.head h1 {
	background: url(../img/bg.png);
	margin-top: 50px;
	padding: 10px;
	color: white;
}

.head p {
	padding-left: 10px;
}

.foot p {
	margin: 0px;
	float: right;
}

.notice {
	color: red;	
}

li {
	margin: 0 5px 5px 0;
}

hr {
	background: url(../img/hr.png);	
	height: 3px;
	border: 0px;
}

p.ui-state-error { border: 0;background: white; color: #cd0a0a; }
.img { width: 70px; float: left; margin-right: 5px; }
.urls { margin-top: 10px; display: inline-table; }
.url { margin: 0 0 10px 0; text-align: left; word-break:break-all; }

@media (max-width: 500px) {
	.container {
		width: 100%;
	}
}